:root{
    --web-mode-primary-text-color: #343334;
    --web-mode-secondary-text-color: #3a4447;
    --web-mode-tertiary-text-color: #333333 ;
    --web-mode-primary-background-color: #fff;
    --web-mode-secondary-background-color: #e599f7;
    --web-mode-tertiary-background-color: #EEE0CA;
    --primary-font-size:1rem;
    --secondary-font-size:1rem;

    --paper-width: 210mm ;
    --paper-height: 297mm;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media print {
    html, body {
        height:100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
}