:root{
    --web-mode-primary-text-color: #000;
    --web-mode-secondary-text-color: #696969;
    --web-mode-tertiary-text-color: #333333 ;
    --web-mode-primary-background-color: #fff;
    --web-mode-secondary-background-color: #e599f7;
    --web-mode-tertiary-background-color: #f1f3f5;
}

body {
    margin: 0;
    font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    font-size: .9rem;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media print {
    html, body {
        height:100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
}